@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.head
{
	margin-left: 5%;
	font-family: 'Jeju Gothic';
}

.board_title a
{
	text-decoration: none;
	color: black;
	font-size: 40px;
	font-family: 'Jeju Gothic';
	margin-left: 5%;
}

.tboard
{
	border: 1px #a39485 solid;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	width: 100%;
	max-width: 90%;
	height: 320px;
	border-collapse: collapse;
	margin: 50px auto;
	background: white;
}

.tboard tr th {
    background-color: cornflowerblue;
    color: #fff;
}

.tboard tr {
    border-bottom: 1px solid #eee;
}
.tboard tr:last-child {
    border: none;
}

.tboard tr:nth-child(odd) {
    background-color: rgba(221, 221, 221, 0.338);
}

.bottom
{
	text-align: center;
}